.container{
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.choice{
    width: 100%;
    display: ruby-base;
}

.create {
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.insert-text {
    width: 100%;
}
