<div class="container">
    <h3>Renseigner un nouveau jouet</h3>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <div>
            <label>
                Nom du jouet * :
                <input type="text" formControlName="artName">
                <div *ngIf="articleForm.controls['artName'].errors && !articleForm.controls['artName'].pristine"
                    class="error-msg">
                    <div [hidden]="!articleForm.controls['artName'].errors.required">Merci d'entrer un nom de jouet!</div>
                </div>
            </label>
        </div>
        <div>
            <label>
                Ajouter une photo :
                <input type="file" formControlName="artImage">
            </label>
        </div>
        <div>
            <label>
                Lieu de fabrication :
                <select name="place" formControlName="artPlace" placeholder="Choisissez une origine">
                    <option value="" selected data-default>Choisissez une origine</option>
                    <option *ngFor="let place of places" value="{{place.note}}">{{place.name}}</option>
                </select> 
            </label>
        </div>
        <div>
            <label>
                Catégorie :
                <select name="place" formControlName="artPlace" placeholder="Choisissez une origine">
                    <option value="" selected data-default>Choisissez une catégorie</option>
                    <option *ngFor="let category of gategories" value="category.name">{{gategory.name}}</option>
                </select> 
            </label>
        </div>
        <div>
            <label>
                Est-ce un jouet à piles ? 
                <input type="radio" name="question" value="oui" id="oui" /> 
                <label for="oui">oui</label>
                <input type="radio" name="question" value="non" id="non" /> 
                <label for="non">non</label>
            </label>
        </div>
        
        <div>
            <label>
                Est-il solide ? 
                <input type="radio" name="question" value="oui" id="oui" /> 
                <label for="oui">oui</label>
                <input type="radio" name="question" value="non" id="non" /> 
                <label for="non">non</label>
            </label>
        </div>

        <div>
            <label>
                Est-il facilement réparable?
                <input type="radio" name="question" value="oui" id="oui" /> 
                <label for="oui">oui</label>
                <input type="radio" name="question" value="non" id="non" /> 
                <label for="non">non</label>
            </label>
        </div>

     
        <div formGroupName="artAdvice">
            Voulez-vous évaluer ce jouet ?
            <div>
                <label>
                    Votre avis (précisez en quoi le jouet est/n'est pas éthique, éco-responsable...)
                    <input type="textarea" formControlName="artReview">
                </label>
            </div>
            <div>
                <label>
                    Votre note :
                    <input type="text" formControlName="artNote">
                </label>
            </div>
        </div>

        <button type="submit" [disabled]="!articleForm.valid">Inscription</button>
    </form>
</div>


