@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'christmas_iconsregular';
    src: url('assets/fonts/christmas/christmas_icons-webfont.woff2') format('woff2'),
         url('assets/fonts/christmas/christmas_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'christmas_day_personal_useRg';
    src: url('assets/fonts/christmas_day/christmas_day_personal_use-webfont.woff2') format('woff2'),
         url('assets/fonts/christmas_day/christmas_day_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}