<div>
    <div> 
        Détail Produit :
    </div>

    <div>
        {{ articleService.selectedArticle?.name }}
    </div>

    <div *ngIf="articleService.selectedArticle">
        <img src="assets/{{articleService.selectedArticle?.image}}" alt="{{ articleService.selectedArticle?.name }}">
    </div>

    <div *ngIf="this.articleService.selectedArticle.energy">
        <img src="assets/battery.png" alt="necessite des piles/batterie">
    </div>

    <div *ngIf="!this.articleService.selectedArticle.energy">
        <img src="assets/no-battery.png" alt="ne necessite pas de piles/batterie">
    </div>

    <div *ngIf="this.articleService.selectedArticle.piece">
        <img src="assets/spanner.png" alt="Pièces détachées disponibles">
    </div>

    <div *ngIf="!this.articleService.selectedArticle.piece">
        <img src="assets/no-spanner.png" alt="Pièces détachées non disponibles">
    </div>

    <div *ngIf="this.articleService.selectedArticle.packaging">
        <img src="assets/recyclable.png" alt="Emballage ecologique">
    </div>

    <div *ngIf="!this.articleService.selectedArticle.packaging">
        <img src="assets/no-recyclable.png" alt="Suremballage">
    </div>

    <div>
        Note Santa Fair : {{ articleService.selectedArticle?.note_SF }}
    </div>


    <app-user-review></app-user-review>
</div>