// img {
//     width: 100px;
// }

#details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10px;
}

.details-img {
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    margin-bottom: 10px;
    background-color: white;
}

.details-img img {
    width: 250px;
}

.spec {
    margin-bottom: 10px;
    width: 100%;
}

.spec-item {
    display: flex;
}

.spec img {
    width: 30px;
    margin: 5px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.note {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comments {
    max-height: 300px;
    overflow: scroll;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
}

.home-btn {
    display: flex;
}

.white {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}