<div id="details">
    <!-- <div> 
        Détail Produit :
    </div> -->

    <div class="white">
        <h2>{{ articleService.selectedArticle?.name }}</h2>
    </div>

    <div *ngIf="articleService.selectedArticle" class="details-img">
        <img src="{{articleService.selectedArticle?.image}}" alt="{{ articleService.selectedArticle?.name }}">
    </div>

    <div class="white">
        <div class="spec">
            <div class="spec-item">
                <div *ngIf="this.articleService.selectedArticle?.energy">
                    <img src="assets/battery.png" alt="necessite des piles/batterie">
                </div>
            
                <div *ngIf="!this.articleService.selectedArticle?.energy">
                    <img src="assets/no-battery.png" alt="ne necessite pas de piles/batterie">
                </div>
            
                <div *ngIf="this.articleService.selectedArticle?.piece">
                    <img src="assets/spanner.png" alt="Pièces détachées disponibles">
                </div>
            
                <div *ngIf="!this.articleService.selectedArticle?.piece">
                    <img src="assets/no-spanner.png" alt="Pièces détachées non disponibles">
                </div>
            
                <div *ngIf="this.articleService.selectedArticle?.packaging">
                    <img src="assets/recyclable.png" alt="Emballage ecologique">
                </div>
            
                <div *ngIf="!this.articleService.selectedArticle?.packaging">
                    <img src="assets/no-recyclable.png" alt="Suremballage">
                </div>
            </div>

            <div class="note">
                Note Santa Fair : {{ articleService.selectedArticle?.note_SF }}
                <button (click)="addWishlist()">Ajouter à ma liste</button>
            </div>
            <div class="note">
                Évaluations utilisateurs : {{ articleService.averageUserNote }}
            </div>

            <div class="comment">
                <div class="comments">
                    <app-user-review></app-user-review>
                </div>
            
                <a routerLink="/votre-avis">
                    <button>Commenter ce jouet</button>
                </a>
            </div>
        </div>
    </div>
    <div class="alternative">
        <div *ngIf="alternative" >
            L'alternative : <img [src]="alternative.image" class="imgAlter"> 
            <div>{{alternative.name}}</div>
            <div>Note Santa Fair : {{alternative.note_SF}}</div>
            <button (click)="goToAlternate(alternative)">Voir le jouet</button>
        </div>
        <div *ngIf="!alternative && this.articleService.selectedArticle?.note_SF < 4">
            Pas encore d'alternative pour ce jouet
        </div>
    </div>

</div>