#avisForm {
    width: 100%;
}

#avisForm textarea {
    width: 99%;
}

#avisForm label p{
    margin: 5px 0;
}

.rating {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.rating p {
    font-family: 'christmas_iconsregular';
    font-size: 50px;
    margin: 0;
    color:  #aaa;
    cursor: pointer;
    transition: color .4s;
}

.rating p:hover,
.rating p:focus,
.rating p.active,
.rating p:hover ~ p,
.rating p:focus ~ p,
.rating p.active ~ p{
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

label {
    width: 100%;
}

input {
    width: 100%;
}
