
.toggle {
    position: absolute;
    right: 2px;
    top: 5px;
}

.modal {
    width: 100%;
}
.fas {
    color: rgb(228, 228, 228);
    margin-right: 6px;
    cursor: pointer;
    font-size: 25px;
}

.thomas .fas {
    color: red;
    font-size: 20px;
    margin-right: 0;
}

section {
    display:flex;
    flex-direction: column;
}

.articleList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articlePicture {
    width: 60px;
}

.articleList p {
    font-size: 20px;
    font-weight: bold;
}

.articleList button {
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(179, 38, 38);
    color: white;
}

.articleList button:hover {
    transform: scale(1.05)
}

$light-blue: #3498db;
$black: #000000;

.section {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "open-sans", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: $black;
}

.modal-header {
    background-color: rgb(179, 38, 38);
    color: white;
    border-bottom: white;
}

.modal-content {
    border: 2px solid white;
}

.cercle {
    width: 20px;
    height: 20px;
    background-color: rgb(179, 38, 38);
    border-radius: 50%;
    position: absolute;
    left: -7px;
    
}

.cercle p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
nav {
    position: fixed;
    top: 10px;
    left: 10px;
}

nav a {
    color: white;
    font-family: 'christmas_day_personal_useRg';
    outline: 0;
}

.article {
    display: flex;
    align-items: center;
}

.article p {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 10px;
}

.modal-header h5 {
    font-family: 'christmas_day_personal_useRg';
}