.miniature{
    height: 40px;
}
.displayAutoComplete {
    display: flex;
    justify-content: space-between;
}

.pointerCreate {
 cursor : pointer;
}
    
.title {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'christmas_day_personal_useRg';
    display: inline-block;
    font-size: 50px;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px grey;
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.ng-autocomplete {
    width: 350px;
}

.input-container {
    border-radius: 22px !important;
    overflow: hidden;
}

.autocomplete-container {
    border-radius: 22px !important;
    overflow: hidden;
}

.autocomplete-container .input-container input {
    border-radius: 22px !important;
}

.clement {
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 10px;
    border-radius: 15px ;
    position: fixed;
    bottom: 0;
}
