<!-- <form (submit)='onSubmit()'>
    <label for="name">Nom du jouet</label>
    <input type="text" id="name" name="name" [(ngModel)]="articleToCompare.name">
    <button type="submit">Cherches!</button>
</form> -->
<div class="home">
    <div class='title'>
        <h1>Santa Fair</h1>
    </div>

    <div class="searchbar">
        <div>
            <p>Chercher un jouet :</p>
        </div>
        
        <div class="ng-autocomplete">
            <ng-autocomplete 
                [data]="listOfArticlesToDisplay"
                [searchKeyword]="keyword"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
        
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            
            <ng-template #itemTemplate let-item>
                <div class="displayAutoComplete">
                    <a [innerHTML]="item.name"></a>
                    <img src="assets/{{item.image}}" alt="{{item.name}}" class="miniature">
                </div>
            </ng-template>
            
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>

        <!-- <a routerLink="/create">
            <button>Renseigner</button>
        </a> -->

    </div>
</div>