.miniature{
    height: 40px;
}
.displayAutoComplete {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'christmas_day_personal_useRg';
    display: inline-block;
    font-size: 50px;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 75, 75);
    color: white;
    text-shadow: 1px 1px 1px grey;
}

.searchbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.ng-autocomplete {
    width: 350px;
}

.input-container {
    border-radius: 22px !important;
    overflow: hidden;
}

.autocomplete-container {
    border-radius: 22px !important;
    overflow: hidden;
}

.autocomplete-container .input-container input {
    border-radius: 22px !important;
}
